{% extends"layout.html" %} {% block content %}
{% include '_messages.html' %}

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2 style="align-content: center" class="bg-info p-2">Add Product</h2>
      {% from "_formhelpers.html" import render_field %}
      <form action="" , method="POST" , enctype="multipart/form-data">
        {{ render_field(form.name ,class="form-control") }} {{
        render_field(form.price ,class="form-control") }} {{
        render_field(form.discount ,class="form-control") }} {{
        render_field(form.stock ,class="form-control") }}

        <label for="brand">Add a brand</label>
        <select name="brand" id="brand" class="form-control">
          <option value="">Select a brand</option>
          {% for brand in brands %}
          <option value="{{brand.id}}">{{ brand.name }}</option>
          {% endfor %}
        </select>

        <label for="category">Add a category</label>
        <select name="category" id="category" class="form-control">
          <option value="">Select a category</option>
          {% for category in categories %}
          <option value="{{ category.id }}">{{ category.name }}</option>
          {% endfor %}
        </select>

        {{ render_field(form.colors ,class="form-control") }} {{
        render_field(form.discription ,class="form-control", rows="10") }}

        <div class="container">
          <div class="row">
            <div class="col-md-4">
              {{ render_field(form.image_1 ,class="form-control, required") }}
            </div>
            <div class="col-md-4">
              {{ render_field(form.image_2 ,class="form-control, required") }}
            </div>
            <div class="col-md-4">
              {{ render_field(form.image_3 ,class="form-control, required") }}
            </div>
          </div>
        </div>
        <input type="submit" value="Add Product " class="btn btn-info mt-3" />
      </form>
    </div>
  </div>
</div>

{% endblock content %}
