{% extends 'layout.html' %}
{% block content %}



<div class="container nicehead" id="adminbody ">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin">Admin</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/"
            >All Products</a
          >
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories</a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for category in categories %}
              <a href="{{ url_for('get_category', id = category.id) }}" class="dropdown-item">{{category.name}}</a>
      
              {% endfor %}
            </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Brands
          </a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">
            {% for brand in brands %}

            <a href="{{ url_for('get_brand', id=brand.id) }}" class="dropdown-item">{{ brand.name }}</a>

            {% endfor %}
           
          </div>
        </li>

        <form class="d-flex " style="justify-content: center;" id="searchboss">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        
      </ul>
    </div>
  </nav>
</div>




<div class="container mt-5">
    <div class="row">

      {% if brand %}

            {% for b in brand %}
            <div class="col-md-3 mt-3">
                <div class="card">
                    {% if b.discount > 0 %}
                    <p style="color: red; text-shadow: 2px 3px 3px #000; transform: rotate(-40deg); position: absolute; top: 3%; left: -5%; right: 50%;">Discount {{ b.discount }}%</p>
                    {% endif %}
                    <img src="{{url_for('static', filename='images/' + b.image_1)}}" alt="{{ b.name }}" class="class-img-top" height="200">
                    <div class="card-body">
                        <h5 class="text-center">{{ b.name }}</h5>
                        <p class="text-center">Price: &#8358;{{ b.price }} </p>
    
                    </div>
                    <div class="card-footer">
                        <a class="float-left btn btn-sm" style="background-color: #0d6efd; color: black;">Details</a>
                        <a class="float-right btn btn-sm btn-warning" style="margin-left: 69.5px;">Add to cart</a>
                        
                        
                    </div>
                </div>
            </div>
            {% endfor %} 

    </div>

    <div class="row">
        {% elif category %}
        {% for cat in category %}

        
        <div class="col-md-3 mt-3">
            <div class="card">
                {% if cat.discount > 0 %}
                <p style="color: red; text-shadow: 2px 3px 3px #000; transform: rotate(-40deg); position: absolute; top: 3%; left: -5%; right: 50%;">Discount {{ cat.discount }}%</p>
                {% endif %}
                <img src="{{url_for('static', filename='images/' + cat.image_1)}}" alt="{{ cat.name }}" class="class-img-top" height="200">
                <div class="card-body">
                    <h5 class="text-center">{{ cat.name }}</h5>
                    <p class="text-center">Price: &#8358;{{ cat.price }} </p>

                </div>
                <div class="card-footer">
                    <a class="float-left btn btn-sm" style="background-color: #0d6efd; color: black;">Details</a>
                    <a class="float-right btn btn-sm btn-warning" style="margin-left: 69.5px;">Add to cart</a>
                    
                    
                </div>
            </div>
        </div>
        {% endfor %} 

        </div>

        <div class="row">
        {% else %}
        {% for product in products.items %}
        <div class="col-md-3 mt-3">
            <div class="card">
                {% if product.discount > 0 %}
                <p style="color: red; text-shadow: 2px 3px 3px #000; transform: rotate(-40deg); position: absolute; top: 3%; left: -5%; right: 50%;">Discount {{ product.discount }}%</p>
                {% endif %}
                <img src="{{url_for('static', filename='images/' + product.image_1)}}" alt="{{ product.name }}" class="class-img-top" height="200">
                <div class="card-body">
                    <h5 class="text-center">{{ product.name }}</h5>
                    <p class="text-center">Price: &#8358;{{ product.price }} </p>

                </div>
                <div class="card-footer">
                    <a class="float-left btn btn-sm" style="background-color: #0d6efd; color: black;">Details</a>
                    <a class="float-right btn btn-sm btn-warning" style="margin-left: 69.5px;">Add to cart</a>
                    
                    
                </div>
            </div>
        </div>
        {% endfor %}  
      </div>
      <div class="row">
        <div class="col text-center">
            {% for page_num in products.iter_pages() %}

            {% if page_num %}

            
            {% if products.page == page_num %}
            <a href="{{url_for('home', page=page_num) }}" class="btn btn-sm mt-3" style="color: #000;
            background-color: #0dcaf0;
            border-color: #0dcaf0;">{{ page_num }}</a>
            {% else %}
            <a href="{{url_for('home', page=page_num) }}" class="btn btn-outline-info btn-sm mt-3">{{ page_num }}</a>

            {% endif %}
            
            {% else %}
            
            {% endif %}    
            {% endfor %}

        </div>

    </div>

        {% endif %}

 
</div>

<!-- Products.items in version control history -->


    
  
</div>

{% endblock content %}