{% extends "layout.html" %} {% block content %} {% include '_messages.html' %}

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Admin</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/admin"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/brands">Brands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categories">Categories</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="container mt-5">
    <table class="table table-sm table-condensed table-stripped">
        <thead>
            <th>Sr</th>
            <th>Name</th>
            
            <th>Edit</th>
            <th>Delete</th>
        </thead>

        <tbody>
          {% if brands %}
          {% for brand in brands %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ brand.name }}</td>
                
               

               

                <td><a class="btn btn-sm btn-outline-info" href="/updatebrand/{{ brand.id }}">Edit</a></td>
                <td><a class="btn btn-sm btn-outline-danger" href="/brands/delete/{{ brand.id }}">Delete</a></td>
            </tr>

          {% endfor %}

          {% else %}
          {% for category in categories %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ category.name }}</td>
                
               

               

                <td><a class="btn btn-sm btn-outline-info" href="/updatecategory/{{ category.id }}">Edit</a></td>
                <td><a class="btn btn-sm btn-outline-danger" href="/categories/delete/{{ category.id }}">Delete</a></td>
            </tr>

          {% endfor %}
          {% endif %}
            </tbody>
    </table>
</div>

{% endblock %}
d