{% extends "layout.html" %} {% block content %} {% include '_messages.html' %}

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Admin</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="container mt-5">
    <table class="table table-sm table-condensed table-stripped">
        <thead>
            <th>Sr</th>
            <th>Prodcuts</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Brand</th>
            <th>Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>

        <tbody>
          {% for product in products %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.discount }} %</td>
                <!-- <td>{{ product.stock }}</td> -->
                <td>{{ product.brand.name }}</td>

                <td><img src="{{ url_for('static', filename='images/' + product.image_1) }}" width="50" height="40"></td>

                <td><a class="btn-primary" href="/edit/{{ product.id }}">Edit</a></td>
                <td><a class="btn-primary" href="/delete/{{ product.id }}">Delete</a></td>
            </tr>

          {% endfor %}
            </tbody>
    </table>
</div>

{% endblock %}
