{% extends "layout.html" %}

{% block content %}

<div class="container">
    {% from "_formhelpers.html" import render_field %}
    <form method="post", enctype="multipart/form-data">
        <div>
        
            {{ render_field(form.email ,class="form-control") }}
            {{ render_field(form.password ,class="form-control") }}
            
            

            
        </div>
    <p><input type=submit value="Register" class="btn btn-info form-control"></p>
    </form>
</div>


{% endblock %}